Distillation/Approximation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Column"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="approximation">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="QG" minOccurs="2" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Q" type="xs:double"/>
              <xs:element name="G" type="xs:double"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
